<div
  id="access-control-container"
  ng-controller="AccessController as access"
  ng-if="philoConfig.access_control"
>
  <div class="panel panel-default">
    <div id="error-message" class="panel">
      <div class="bg-danger">
        <span class="glyphicon glyphicon-warning-sign"></span> Access Restricted
      </div>
    </div>
    <div id="password-form" class="panel panel-default">
      <form id="password-access" ng-submit="access.submit()">
        <h5 ng-if="!access.accessDenied">
          If you have a username and password, please enter them here:
        </h5>
        <h5 class="text-danger" ng-if="access.accessDenied">
          Your username or password don't match. Please try again.
        </h5>
        <div class="row">
          <div class="col-xs-12 col-sm-3 text-row">Username:</div>
          <div class="col-xs-12 col-sm-4">
            <input
              type="text"
              class="form-control"
              name="username"
              ng-model="access.accessInput.username"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-3 text-row">Password:</div>
          <div class="col-xs-12 col-sm-4">
            <input
              type="text"
              class="form-control"
              name="password"
              ng-model="access.accessInput.password"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-4 col-sm-offset-3">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="reset" class="btn btn-danger">Reset</button>
          </div>
        </div>
      </form>
    </div>
    <div id="info-panel" class="panel panel-default">
      <p>
        Please contact Rowan Dorin (dorin@stanford.edu) to request access to the
        database.
      </p>
      <p>
        To learn more about the database, please visit the
        <a href="https://corpus-synodalium.com/">homepage</a>.
      </p>
      <p ng-if="access.clientIp">
        Requesting Computer Address: <tt>{{ access.clientIp }}</tt>
      </p>
    </div>
  </div>
</div>
